src/main/wsdl/tmexecution.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tm.segue.com/webservices/tmexecution" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://tm.segue.com/webservices/tmexecution" xmlns:intf="http://tm.segue.com/webservices/tmexecution" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://tm.segue.com" xmlns:tns2="http://webservice.base.tm.segue.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://webservice.base.tm.segue.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://tm.segue.com/webservices/tmexecution"/>
   <import namespace="http://tm.segue.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Entity">
    <sequence>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="NamedEntity">
    <complexContent>
     <extension base="tns2:Entity">
      <sequence>
       <element name="name" nillable="true" type="xsd:string"/>
       <element name="description" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://tm.segue.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://tm.segue.com/webservices/tmexecution"/>
   <import namespace="http://webservice.base.tm.segue.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="NodeParameter">
    <complexContent>
     <extension base="tns2:NamedEntity">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
       <element name="isInherited" type="xsd:boolean"/>
       <element name="type" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfNodeParameter">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:NodeParameter[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfPropertyValue">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:PropertyValue[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfString">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://tm.segue.com/webservices/tmexecution" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservice.base.tm.segue.com"/>
   <import namespace="http://tm.segue.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="PropertyValue">
    <sequence>
     <element name="children" nillable="true" type="tns1:ArrayOfPropertyValue"/>
     <element name="modifyCount" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="nodeID" nillable="true" type="xsd:string"/>
     <element name="propertyID" nillable="true" type="xsd:string"/>
     <element name="propertyTypeID" nillable="true" type="xsd:string"/>
     <element name="type" type="xsd:int"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ExecutionNode">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="kind" type="xsd:int"/>
     <element name="propertyValues" nillable="true" type="tns1:ArrayOfPropertyValue"/>
    </sequence>
   </complexType>
   <complexType name="PropertyMetaInfo">
    <sequence>
     <element name="allListValues" nillable="true" type="tns1:ArrayOfString"/>
     <element name="defaultValue" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="formatString" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="isEditable" type="xsd:boolean"/>
     <element name="isMultiSelect" type="xsd:boolean"/>
     <element name="isOptional" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="propertyTypeId" nillable="true" type="xsd:string"/>
     <element name="type" type="xsd:int"/>
     <element name="typeLabel" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfExecutionNode">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:ExecutionNode[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ManualTester">
    <sequence>
     <element name="firstname" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="login" nillable="true" type="xsd:string"/>
     <element name="userId" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfManualTester">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:ManualTester[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ExecutionHandle">
    <sequence>
     <element name="execDefId" type="xsd:int"/>
     <element name="timeStamp" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="TestDefinitionResult">
    <sequence>
     <element name="duration" type="xsd:int"/>
     <element name="errorCount" type="xsd:int"/>
     <element name="execDefRunId" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="resultURL" nillable="true" type="xsd:string"/>
     <element name="status" type="xsd:int"/>
     <element name="testDefId" type="xsd:int"/>
     <element name="testRunId" type="xsd:int"/>
     <element name="typeId" type="xsd:int"/>
     <element name="warningCount" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfTestDefinitionResult">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:TestDefinitionResult[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ExecutionResult">
    <sequence>
     <element name="build" nillable="true" type="xsd:string"/>
     <element name="cleanupTestDef" nillable="true" type="impl:TestDefinitionResult"/>
     <element name="execDefId" type="xsd:int"/>
     <element name="execDefName" nillable="true" type="xsd:string"/>
     <element name="execServerName" nillable="true" type="xsd:string"/>
     <element name="keywords" nillable="true" type="tns1:ArrayOfString"/>
     <element name="manualTester" nillable="true" type="xsd:string"/>
     <element name="setupTestDef" nillable="true" type="impl:TestDefinitionResult"/>
     <element name="testDefResult" nillable="true" type="impl:ArrayOfTestDefinitionResult"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfExecutionHandle">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:ExecutionHandle[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getKeywordsResponse">

      <wsdl:part name="getKeywordsReturn" type="tns1:ArrayOfString"/>

   </wsdl:message>

   <wsdl:message name="setKeywordsResponse">

   </wsdl:message>

   <wsdl:message name="getExecutionResultResponse">

      <wsdl:part name="getExecutionResultReturn" type="impl:ExecutionResult"/>

   </wsdl:message>

   <wsdl:message name="getNodeRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="nodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="setKeywordsRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="execNodeId" type="xsd:int"/>

      <wsdl:part name="keywords" type="tns1:ArrayOfString"/>

   </wsdl:message>

   <wsdl:message name="deleteNodeResponse">

   </wsdl:message>

   <wsdl:message name="startExecutionRequest1">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="nodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="setCurrentProjectRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="projectId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="updateTestRunStatusResponse">

   </wsdl:message>

   <wsdl:message name="addNodeRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="node" type="impl:ExecutionNode"/>

      <wsdl:part name="parentId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getNodeResponse">

      <wsdl:part name="getNodeReturn" type="impl:ExecutionNode"/>

   </wsdl:message>

   <wsdl:message name="setCleanupTestDefinitionResponse">

   </wsdl:message>

   <wsdl:message name="setParameterResponse">

   </wsdl:message>

   <wsdl:message name="setCurrentProjectResponse">

   </wsdl:message>

   <wsdl:message name="getAssignedManualTestersRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="execDefId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="updateNodeRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="node" type="impl:ExecutionNode"/>

   </wsdl:message>

   <wsdl:message name="getStateOfExecutionRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="handle" type="impl:ExecutionHandle"/>

   </wsdl:message>

   <wsdl:message name="getNodesRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addNodeResponse">

      <wsdl:part name="addNodeReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getCurrentProjectResponse">

      <wsdl:part name="getCurrentProjectReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getPropertyInfoResponse">

      <wsdl:part name="getPropertyInfoReturn" type="impl:PropertyMetaInfo"/>

   </wsdl:message>

   <wsdl:message name="setSetupTestDefinitionRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="execNodeId" type="xsd:int"/>

      <wsdl:part name="testDefId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="setSetupTestDefinitionResponse">

   </wsdl:message>

   <wsdl:message name="getParametersResponse">

      <wsdl:part name="getParametersReturn" type="tns1:ArrayOfNodeParameter"/>

   </wsdl:message>

   <wsdl:message name="setAssignedManualTestersResponse">

   </wsdl:message>

   <wsdl:message name="updateTestRunStatusRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="testRunId" type="xsd:int"/>

      <wsdl:part name="newStatus" type="xsd:int"/>

      <wsdl:part name="newStatusReason" type="xsd:string"/>

      <wsdl:part name="statusChangeComment" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getCurrentProjectRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="getStateOfExecutionResponse">

      <wsdl:part name="getStateOfExecutionReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getExecutionResultRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="handle" type="impl:ExecutionHandle"/>

   </wsdl:message>

   <wsdl:message name="getPropertyIdsResponse">

      <wsdl:part name="getPropertyIdsReturn" type="tns1:ArrayOfString"/>

   </wsdl:message>

   <wsdl:message name="getManualTestersRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="projectId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="setCleanupTestDefinitionRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="execNodeId" type="xsd:int"/>

      <wsdl:part name="testDefId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="startExecutionResponse1">

      <wsdl:part name="startExecutionReturn" type="impl:ArrayOfExecutionHandle"/>

   </wsdl:message>

   <wsdl:message name="getPropertyInfoRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="kind" type="xsd:int"/>

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSetupTestDefinitionResponse">

      <wsdl:part name="getSetupTestDefinitionReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getPropertyIdsRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="kind" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getAssignedManualTestersResponse">

      <wsdl:part name="getAssignedManualTestersReturn" type="impl:ArrayOfManualTester"/>

   </wsdl:message>

   <wsdl:message name="getCleanupTestDefinitionResponse">

      <wsdl:part name="getCleanupTestDefinitionReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getChildNodesRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="parentNodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getChildNodesResponse">

      <wsdl:part name="getChildNodesReturn" type="impl:ArrayOfExecutionNode"/>

   </wsdl:message>

   <wsdl:message name="getKeywordsRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="execNodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getParametersRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="execNodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getExecutionRootNodeRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="projectId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="startExecutionResponse">

      <wsdl:part name="startExecutionReturn" type="impl:ArrayOfExecutionHandle"/>

   </wsdl:message>

   <wsdl:message name="updateNodeResponse">

   </wsdl:message>

   <wsdl:message name="getSetupTestDefinitionRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="execNodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getManualTestersResponse">

      <wsdl:part name="getManualTestersReturn" type="impl:ArrayOfManualTester"/>

   </wsdl:message>

   <wsdl:message name="getCleanupTestDefinitionRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="execNodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="startExecutionRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="nodeId" type="xsd:int"/>

      <wsdl:part name="build" type="xsd:string"/>

      <wsdl:part name="option" type="xsd:int"/>

      <wsdl:part name="sinceBuild" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getNodesResponse">

      <wsdl:part name="getNodesReturn" type="impl:ArrayOfExecutionNode"/>

   </wsdl:message>

   <wsdl:message name="deleteNodeRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="nodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="setParameterRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="execNodeId" type="xsd:int"/>

      <wsdl:part name="parameterName" type="xsd:string"/>

      <wsdl:part name="parameterValue" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="setAssignedManualTestersRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="execDefId" type="xsd:int"/>

      <wsdl:part name="manualTesterIds" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="getExecutionRootNodeResponse">

      <wsdl:part name="getExecutionRootNodeReturn" type="impl:ExecutionNode"/>

   </wsdl:message>

   <wsdl:portType name="ExecutionWebService">

      <wsdl:operation name="getParameters" parameterOrder="sessionId execNodeId">

         <wsdl:input message="impl:getParametersRequest" name="getParametersRequest"/>

         <wsdl:output message="impl:getParametersResponse" name="getParametersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNode" parameterOrder="sessionId nodeId">

         <wsdl:input message="impl:getNodeRequest" name="getNodeRequest"/>

         <wsdl:output message="impl:getNodeResponse" name="getNodeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getPropertyInfo" parameterOrder="sessionId kind id">

         <wsdl:input message="impl:getPropertyInfoRequest" name="getPropertyInfoRequest"/>

         <wsdl:output message="impl:getPropertyInfoResponse" name="getPropertyInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteNode" parameterOrder="sessionId nodeId">

         <wsdl:input message="impl:deleteNodeRequest" name="deleteNodeRequest"/>

         <wsdl:output message="impl:deleteNodeResponse" name="deleteNodeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getChildNodes" parameterOrder="sessionId parentNodeId">

         <wsdl:input message="impl:getChildNodesRequest" name="getChildNodesRequest"/>

         <wsdl:output message="impl:getChildNodesResponse" name="getChildNodesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setParameter" parameterOrder="sessionId execNodeId parameterName parameterValue">

         <wsdl:input message="impl:setParameterRequest" name="setParameterRequest"/>

         <wsdl:output message="impl:setParameterResponse" name="setParameterResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAssignedManualTesters" parameterOrder="sessionId execDefId">

         <wsdl:input message="impl:getAssignedManualTestersRequest" name="getAssignedManualTestersRequest"/>

         <wsdl:output message="impl:getAssignedManualTestersResponse" name="getAssignedManualTestersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getKeywords" parameterOrder="sessionId execNodeId">

         <wsdl:input message="impl:getKeywordsRequest" name="getKeywordsRequest"/>

         <wsdl:output message="impl:getKeywordsResponse" name="getKeywordsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setKeywords" parameterOrder="sessionId execNodeId keywords">

         <wsdl:input message="impl:setKeywordsRequest" name="setKeywordsRequest"/>

         <wsdl:output message="impl:setKeywordsResponse" name="setKeywordsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getExecutionRootNode" parameterOrder="sessionId projectId">

         <wsdl:input message="impl:getExecutionRootNodeRequest" name="getExecutionRootNodeRequest"/>

         <wsdl:output message="impl:getExecutionRootNodeResponse" name="getExecutionRootNodeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getStateOfExecution" parameterOrder="sessionId handle">

         <wsdl:input message="impl:getStateOfExecutionRequest" name="getStateOfExecutionRequest"/>

         <wsdl:output message="impl:getStateOfExecutionResponse" name="getStateOfExecutionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setAssignedManualTesters" parameterOrder="sessionId execDefId manualTesterIds">

         <wsdl:input message="impl:setAssignedManualTestersRequest" name="setAssignedManualTestersRequest"/>

         <wsdl:output message="impl:setAssignedManualTestersResponse" name="setAssignedManualTestersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSetupTestDefinition" parameterOrder="sessionId execNodeId">

         <wsdl:input message="impl:getSetupTestDefinitionRequest" name="getSetupTestDefinitionRequest"/>

         <wsdl:output message="impl:getSetupTestDefinitionResponse" name="getSetupTestDefinitionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCleanupTestDefinition" parameterOrder="sessionId execNodeId">

         <wsdl:input message="impl:getCleanupTestDefinitionRequest" name="getCleanupTestDefinitionRequest"/>

         <wsdl:output message="impl:getCleanupTestDefinitionResponse" name="getCleanupTestDefinitionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getExecutionResult" parameterOrder="sessionId handle">

         <wsdl:input message="impl:getExecutionResultRequest" name="getExecutionResultRequest"/>

         <wsdl:output message="impl:getExecutionResultResponse" name="getExecutionResultResponse"/>

      </wsdl:operation>

      <wsdl:operation name="startExecution" parameterOrder="sessionId nodeId build option sinceBuild">

         <wsdl:input message="impl:startExecutionRequest" name="startExecutionRequest"/>

         <wsdl:output message="impl:startExecutionResponse" name="startExecutionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="startExecution" parameterOrder="sessionId nodeId">

         <wsdl:input message="impl:startExecutionRequest1" name="startExecutionRequest1"/>

         <wsdl:output message="impl:startExecutionResponse1" name="startExecutionResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="getPropertyIds" parameterOrder="sessionId kind">

         <wsdl:input message="impl:getPropertyIdsRequest" name="getPropertyIdsRequest"/>

         <wsdl:output message="impl:getPropertyIdsResponse" name="getPropertyIdsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateNode" parameterOrder="sessionId node">

         <wsdl:input message="impl:updateNodeRequest" name="updateNodeRequest"/>

         <wsdl:output message="impl:updateNodeResponse" name="updateNodeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getManualTesters" parameterOrder="sessionId projectId">

         <wsdl:input message="impl:getManualTestersRequest" name="getManualTestersRequest"/>

         <wsdl:output message="impl:getManualTestersResponse" name="getManualTestersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNodes" parameterOrder="sessionId name">

         <wsdl:input message="impl:getNodesRequest" name="getNodesRequest"/>

         <wsdl:output message="impl:getNodesResponse" name="getNodesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCurrentProject" parameterOrder="sessionId">

         <wsdl:input message="impl:getCurrentProjectRequest" name="getCurrentProjectRequest"/>

         <wsdl:output message="impl:getCurrentProjectResponse" name="getCurrentProjectResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setCurrentProject" parameterOrder="sessionId projectId">

         <wsdl:input message="impl:setCurrentProjectRequest" name="setCurrentProjectRequest"/>

         <wsdl:output message="impl:setCurrentProjectResponse" name="setCurrentProjectResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateTestRunStatus" parameterOrder="sessionId testRunId newStatus newStatusReason statusChangeComment">

         <wsdl:input message="impl:updateTestRunStatusRequest" name="updateTestRunStatusRequest"/>

         <wsdl:output message="impl:updateTestRunStatusResponse" name="updateTestRunStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setSetupTestDefinition" parameterOrder="sessionId execNodeId testDefId">

         <wsdl:input message="impl:setSetupTestDefinitionRequest" name="setSetupTestDefinitionRequest"/>

         <wsdl:output message="impl:setSetupTestDefinitionResponse" name="setSetupTestDefinitionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setCleanupTestDefinition" parameterOrder="sessionId execNodeId testDefId">

         <wsdl:input message="impl:setCleanupTestDefinitionRequest" name="setCleanupTestDefinitionRequest"/>

         <wsdl:output message="impl:setCleanupTestDefinitionResponse" name="setCleanupTestDefinitionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addNode" parameterOrder="sessionId node parentId">

         <wsdl:input message="impl:addNodeRequest" name="addNodeRequest"/>

         <wsdl:output message="impl:addNodeResponse" name="addNodeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="tmexecutionSoapBinding" type="impl:ExecutionWebService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getParameters">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getParametersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getParametersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNodeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNodeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPropertyInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPropertyInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPropertyInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteNode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteNodeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteNodeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getChildNodes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getChildNodesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getChildNodesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setParameter">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setParameterRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setParameterResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAssignedManualTesters">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAssignedManualTestersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAssignedManualTestersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getKeywords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getKeywordsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getKeywordsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setKeywords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setKeywordsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setKeywordsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getExecutionRootNode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExecutionRootNodeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getExecutionRootNodeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStateOfExecution">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStateOfExecutionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStateOfExecutionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAssignedManualTesters">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAssignedManualTestersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setAssignedManualTestersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSetupTestDefinition">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSetupTestDefinitionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSetupTestDefinitionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCleanupTestDefinition">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCleanupTestDefinitionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCleanupTestDefinitionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getExecutionResult">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExecutionResultRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getExecutionResultResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="startExecution">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="startExecutionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="startExecutionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="startExecution">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="startExecutionRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="startExecutionResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPropertyIds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPropertyIdsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPropertyIdsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateNode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateNodeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="updateNodeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getManualTesters">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getManualTestersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getManualTestersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNodes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNodesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNodesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrentProject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrentProjectRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCurrentProjectResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCurrentProject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCurrentProjectRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setCurrentProjectResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateTestRunStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateTestRunStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="updateTestRunStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSetupTestDefinition">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setSetupTestDefinitionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setSetupTestDefinitionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCleanupTestDefinition">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCleanupTestDefinitionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setCleanupTestDefinitionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addNode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addNodeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addNodeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com/webservices/tmexecution" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ExecutionWebServiceService">

      <wsdl:port binding="impl:tmexecutionSoapBinding" name="tmexecution">

         <wsdlsoap:address location="http://localhost:19110/Services1.0/services/tmexecution"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
